<!-- o eager na tag img, significa que ele será carregado o mais rápido possível -->
<header>
  <img
    src="assets/img/pedro.jpg"
    alt="Pedro Abelardo - Foto de Perfil"
    widget="130px"
    height="130px"
    loading="eager"
  />
  <h1>Pedro Abelardo</h1>
</header>

<aside>
  <div class="container">
    <p>.NET Full Stack Developer | Angular | .NET | C# | SQL SERVER</p>

    <p>Rio de Janeiro, Rio de Janeiro, Brasil</p>

    <p>
      Tenho experiência profissional de 4 anos trabalhando com .NET,
      desenvolvendo e realizando manutenções em sistemas web para setores de
      cobrança, financeiro e departamento pessoal.
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/curriculo.pdf"
            target="_blank"
            class="btn btn-primary"
          >
            Currículo
            <fa-icon [icon]="faDownload" class="icon-download"></fa-icon>
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/pedro-abelardo-9aaa71140/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
            <fa-icon [icon]="faLinkedin" class="icon-linkedin"></fa-icon>
          </a>
        </li>
      </ul>
    </nav>

    <nav>
      <section>
        <figure>
          <img
            src="assets/icons/whatsapp.svg"
            alt="Ícone para contato do WhatsApp"
            width="22px"
            height="24px"
          />

          <figcaption>
            <a
              href="https://api.whatsapp.com/send/?text=Ol%C3%A1%20Pedro,%20tudo%20bem%20?%20Achei%20muito%20interessante%20a%20sua%20trajet%C3%B3ria%20profissional.%20Voc%C3%AA%20ainda%20est%C3%A1%20aceitando%20novas%20oportunidades?&type=custom_url&app_absent=0"
              target="_blank"
            >
              <strong>Envie uma mensagem para:</strong>
              <p>WhatsApp: (21) 99107-5050</p>
            </a>
          </figcaption>
        </figure>

        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Ícone para contato do e-mail"
            width="22px"
            height="24px"
          />

          <figcaption>
            <a href="mailto:abelardosilv2014@gmail.com" target="_blank">
              <strong>Envie um e-mail para:</strong>
              <p>abelardosilv2014&#64;gmail.com</p>
            </a>
          </figcaption>
        </figure>
      </section>
    </nav>
  </div>
</aside>
