:host {
  margin-top: 25px;
  padding: 25px 0;
  background: var(--black-010);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    text-align: center;
    margin: 0 0 10 0px;
  }

  ul {
    margin-top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    li {
      width: 90px;
      height: 80px;
      background: var(--black);

      display: inline;
      justify-content: center;
      align-items: center;
      text-align: center;

      border-radius: 7px;

      img {
        margin-top: 14px;
        margin-bottom: 2px;
      }

      span {
        color: var(--white);
      }
    }
  }
}
